<div class="row work-info">
    <h3 class="page-header">Образование</h3>
    <p>
        В 2008 году закончил Казанский национальный исследовательский технический университет им. А.Н. Туполева, Казань по специальности 
        "Программное обеспечение вычислительной техники"
    </p>
    
    <h3 class="page-header">Работа</h3>
    <ul class="list-group-item-heading company-work">
        <li>
            <p class="text-primary company-name">БАРС Груп, ОАО <strong class="work-period">авг, 2013</strong></p>
            
            <p>
                <strong class="text-muted">Должность: Ведущий разработчик</strong>    
            </p>

            <p class="work-info text-justify">
                <img src="/Content/images/company/bars-group.png" alt="FIX, LLC" />
                Участие в разработке систем <a href="https://bars-monjf.tatar.ru/monjf" target="_blank">ЖКХ и биллинга</a>
                Основные технологии разработки: <span class="label label-info">ASP.NET MVC4</span>, <span class="label label-info">PostgreSQL</span>,
                <span class="label label-info">NHibernate</span>, <span class="label label-info">Dapper\Linq</span>, <span class="label label-info">ExtJs</span>
            </p>
        </li>

        <li>
            <p class="text-primary company-name">FIX, LLC <strong class="work-period">фев, 2009 - авг, 2013</strong></p>
            
            <p>
                <strong class="text-muted">Должность: Ведущий разработчик</strong>
            </p>

            <p class="work-info text-justify">
                <img src="/Content/images/company/fix.png" alt="FIX, LLC" />
                Разработка на <span class="label label-info">C#\ASP.NET Classic</span>, а позже и <span class="label label-info">ASP.NET MVC 2</span>. Участие в разработке
                платежной системы <strong>Webplatezh</strong> - для перевода платежей клиентов банка ТФБ основным провайдерам услуг:
                интернет, телефон, телевидение, электронные деньги и т.д.

                Разработка платежной системы <strong>epayments</strong>. Представляет из себя проект международной платежной системы. Более подробно
                о технологиях и самом проекте можно посмотреть на странице <a href="#/projects">проектов</a>.
                Основные технологии: <span class="label label-info">ASP.NET MVC3</span>, <span class="label label-info">SQL Server 2008</span>,
                <span class="label label-info">Entity Framework</span>, <span class="label label-info">Jquery</span>. Интеграция с <span class="label label-primary">PayPal</span>.
            </p>
        </li>

        <li>
            <p class="text-primary company-name">ICL-КПО ВС, ОАО <strong class="work-period">июнь, 2007 - янв, 2009</strong></p>
            
            <p>
                <strong class="text-muted">Должность: Разработчик, начинающий</strong>
            </p>

            <p class="work-info text-justify">
                <img src="/Content/images/company/icl.png" alt="ICL-КПО ВС" />
                Начинающий, после практики остался работать в свободное от учебы время.
                Поддержка и разработка программного кода на <span class="label label-info">Delphi</span>, написание скриптов на языках T-SQL и PL/SQL
            </p>
        </li>
    </ul>
    
    <h3 class="page-header">Опыт по технологиям</h3>
    
    <div class="row">
        <div class="col-lg-2">
            <h4 class="text-uppercase tech-name text-muted">ASP.NET MVC</h4>
        </div>
        <div class="col-lg-10">
            <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: 100%;">
                    5 из 5
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-2">
            <h4 class="text-uppercase tech-name text-muted">C#</h4>
        </div>
        <div class="col-lg-10">
            <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: 80%;">
                    4 из 5
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-2">
            <h4 class="text-uppercase tech-name text-muted">Java</h4>
        </div>
        <div class="col-lg-10">
            <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: 40%;">
                    2 из 5
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2">
            <h4 class="text-uppercase tech-name text-muted">MS SQL SERVER</h4>
        </div>
        <div class="col-lg-10">
            <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: 80%;">
                    4 из 5
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2">
            <h4 class="text-uppercase tech-name text-muted">ORACLE</h4>
        </div>
        <div class="col-lg-10">
            <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: 40%;">
                    2 из 5
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-2">
            <h4 class="text-uppercase tech-name text-muted">PostgreSQL</h4>
        </div>
        <div class="col-lg-10">
            <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: 100%;">
                    5 из 5
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-2">
            <h4 class="text-uppercase tech-name text-muted">Entity Framework</h4>
        </div>
        <div class="col-lg-10">
            <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: 60%;">
                    3 из 5
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-2">
            <h4 class="text-uppercase tech-name text-muted">NHibernate</h4>
        </div>
        <div class="col-lg-10">
            <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: 80%;">
                    4 из 5
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-2">
            <h4 class="text-uppercase tech-name text-muted">Node.js</h4>
        </div>
        <div class="col-lg-10">
            <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: 40%;">
                    2 из 5
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-2">
            <h4 class="text-uppercase tech-name text-muted">Javascript</h4>
        </div>
        <div class="col-lg-10">
            <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: 80%;">
                    4 из 5
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-2">
            <h4 class="text-uppercase tech-name text-muted">Jquery</h4>
        </div>
        <div class="col-lg-10">
            <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: 80%;">
                    4 из 5
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-2">
            <h4 class="text-uppercase tech-name text-muted">Ext.js</h4>
        </div>
        <div class="col-lg-10">
            <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: 100%;">
                    5 из 5
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-2">
            <h4 class="text-uppercase tech-name text-muted">Angular.js</h4>
        </div>
        <div class="col-lg-10">
            <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: 60%;">
                    3 из 5
                </div>
            </div>
        </div>
    </div>
</div>