<div class="row">
    <div class="jumbotron">
        <h1>RadAd</h1>
        <p class="lead">Система управления рекламой на радио</p>
    </div>
</div>

<div>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/Content/images/projects-preview/estimate-screen.png" alt="dfdsfdsfds dsfsdfsd">
                <div class="caption">
                    <h3>Сервис генерации смет</h3>
                    <p>
                        Данный сервис предназначен для генерации строительных и производственных смет. 
                        Расчет стоимости и себестоимости работ, с учетом НДС и налогов
                    </p>
                    <p>
                        <a href="#" class="btn btn-warning" role="button">Test - версия</a> 
                        <a href="#" class="btn btn-success" role="button">Production - версия</a>
                    </p>
                </div>
            </div>
        </div>
        
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/Content/images/projects-preview/rappelz-screen.png" alt="dfdsfdsfds dsfsdfsd">
                <div class="caption">
                    <h3>Онлайн-игра Rappelz</h3>
                    <p>Генератор смет</p>
                    <p>
                        <a href="#" class="btn btn-warning" role="button">Test - версия</a>
                        <a href="#" class="btn btn-success" role="button">Production - версия</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
