<div>
    <div class="modal-header">
        <h1>Проект международной платежной системы - Epayments</h1>
    </div>
    <div class="modal-body">
        <p>
            Данный проект позволяет переводить платежи любому пользователю платежной системы.
            Клиент, получивший платеж, в свою очередь может снять деньги с карты этой платежной системы в любом банкомате мира.
        </p>
        <p>
            Реализован данный проект был на ASP.NET MVC3 + Entity Framework 3. В качестве СУБД использовался SQL Server 2008.
            Тестовый проект был переписан на ASP.NET MVC 6 + NHibernate + Angular. В качестве СУБД - Postgres + Redis.
        </p>

        <div class="credentials-block well-lg">
            <p><strong>Доступ к тестовой версии</strong></p>
            <p class="text-primary"><span class="text-muted">Пользователь:</span>epa@epayment.com</p>
            <p class="text-primary"><span class="text-muted">Пароль:</span>123123123</p>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="close()">OK</button>
    </div>
</div>
