<div>
    <div class="modal-header">
        <h1>Генератор смет</h1>
    </div>
    <div class="modal-body">
        <p>
            Позволяет расчитывать зарплатный фонд при проведении сложных инженерных работ - постройке гидросооружений, ЛЭП, дорог.
            Позволяет учитывать зависимость(и стоимость) одних специалистов от других и занятость на разных этапах проекта.
            Расчет производится с учетом всех необходимых налогов и выплат. Позволяет распечатывать сметы с разверткой по блокам работ.
        </p>
        <p>
            Реализован данный проект был на ASP.NET MVC5 + NHibernate + Jquery. В качестве СУБД - Postgres.
        </p>

        <div class="credentials-block well-lg">
            <p><strong>Доступ к тестовой версии</strong></p>
            <p class="text-primary"><span class="text-muted">Пользователь:</span>Admin@smeta.ru</p>
            <p class="text-primary"><span class="text-muted">Пароль:</span>sm%7it6R</p>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="close()">OK</button>
    </div>
</div>
