<div>
    <div class="modal-header">
        <h1>Расширение для MS Visual Studio - Favorite Projects</h1>
    </div>
    <div class="modal-body">
        <p>
            Работая в Барс Груп над несколькими проектами одновременно, столкнулся с проблемой что меню Recent files(Недавние документы) работает
            не совсем логично - держит ссылки на проекты, которые уже давно не открывались, а на часто открываемые наоборот не добавляет в это меню.
            Расширение VSCommands мне не понравилось и решил написать свое.
        </p>
        <p>
            Представляет из себя VSX пакет, который добавляет в главное меню подпункт "Favorites". Элементы в данное меню можно добавлять и удалять 
            динамически из контекстного меню проекта или решения.
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="close()">OK</button>
    </div>
</div>
