<div class="row">
    <div class="page-header">
        <h1>Проекты</h1>
    </div>
</div>

<div>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/Content/images/projects-preview/estimate-screen.png" alt="Генератор смет">
                <div class="caption">
                    <h3>Сервис генерации смет</h3>
                    <p>
                        Данный сервис предназначен для генерации строительных и производственных смет. 
                        Расчет стоимости и себестоимости работ, с учетом НДС и налогов
                    </p>
                    <p>
                        <span class="label label-default">ASP.NET MVC 4</span> 
                        <span class="label label-default">PostgreSql</span>
                        <span class="label label-default">Nhibernate</span>
                        <span class="label label-default">Jquery</span>
                    </p>
                    <p>
                        <a class="btn btn-info" role="button" ng-click="open('estimategen')">О проекте</a>
                        <a href="http://estimategen.isemin.com" target="_blank" class="btn btn-default" role="button">Local</a> 
                        <a href="http://service.diasmeta.ru/" target="_blank" class="btn btn-default" role="button">Production</a>
                    </p>
                </div>
            </div>
        </div>
        
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/Content/images/projects-preview/rappelz-screen.png" alt="Онлайн-игра Rappelz">
                <div class="caption">
                    <h3>Онлайн-игра Rappelz</h3>
                    <p>Сервер популярной игры, к нему был прикручен форум с регистрацией и оплатой(WebMoney), а также ладдер игроков - их достижения в игре</p>
                    <p>
                        <span class="label label-default">ASP.NET MVC 3</span>
                        <span class="label label-default">MS SQL Server 2008</span>
                        <span class="label label-default">Entity Framework 3</span>
                        <span class="label label-default">Javascript</span>
                    </p>
                    <p>
                        <a class="btn btn-info" role="button" ng-click="open('rappelz')">О проекте</a>
                        <a href="http://www.rzonline.ru/" target="_blank" class="btn btn-default" role="button">Production</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/Content/images/projects-preview/santehniki-screen.png" alt="Santehniki16.ru">
                <div class="caption">
                    <h3>Santehniki16.ru</h3>
                    <p>Сайт для бригады сантехников</p>
                    <p>
                        <span class="label label-default">Html 5</span>
                        <span class="label label-default">Jquery</span>
                    </p>
                    <p>
                        <a href="http://santehniki16.ru/" target="_blank" class="btn btn-default" role="button">Production</a>
                    </p>
                </div>
            </div>
        </div>
        
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/Content/images/projects-preview/favorite-projects-screen.png" alt="Santehniki16.ru">
                <div class="caption">
                    <h3>Favorite Projects</h3>
                    <p>Расширение для Visual Studio - "Избранные проекты"</p>
                    <p>
                        <span class="label label-default">C#</span>
                    </p>
                    <p>
                        <a class="btn btn-info" role="button" ng-click="open('favorite-projects')">О проекте</a>
                        <a href="https://visualstudiogallery.msdn.microsoft.com/892a05e9-2125-40d0-adb5-7d730ced7947" target="_blank" class="btn btn-default" role="button">View Extension</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
