<div class="panel panel-default">
    <div class="panel-body-address-map">
        <ui-gmap-google-map center='map.center' zoom='map.zoom'>
            <ui-gmap-marker idkey="marker.id" coords="marker.coords">
                <ui-gmap-window options="windowOptions" closeclick="closeClick()">
                    <div>
                        <p>Место работы</p>
                        <strong>Казань, Петербургская - 52, IT Park</strong>
                    </div>
                </ui-gmap-window>
            </ui-gmap-marker>
        </ui-gmap-google-map>
    </div>

    <div class="panel-footer">
        <strong>Адрес: Российская Федерация, респ. Татарстан, г. Казань</strong>

        <div class="email-info">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            <a href="mailto:isemin@outlook.com">isemin@outlook.com</a> 
        </div>
        
        <div class="phone-info">
            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
            <abbr>+7 (917) 264-33-46</abbr>
        </div>
        
        <div class="phone-info">
            <span class="text-info" aria-hidden="true">skype</span>
            <span>i.v.semin</span>
        </div>

        <div class="row">
            <div class="social-icons">
                <a href="https://www.facebook.com/profile.php?id=100005554028183" target="_blank">
                    <div style="background-position: 0 0, center"></div>
                </a>

                <a href="https://github.com/hixel" target="_blank">
                    <div style="background-position: -44px 0, center"></div>
                </a>
                
                <a href="https://www.linkedin.com/profile/view?id=157806210" target="_blank">
                    <div style="background-position: -88px 0, center"></div>
                </a>
                
                <a href="https://plus.google.com/106067038892361833656" target="_blank">
                    <div style="background-position: -132px 0, center"></div>
                </a>
                
                <a href="http://stackoverflow.com/users/3705960/igor-semin" target="_blank">
                    <div style="background-position: -176px 0, center"></div>
                </a>
            </div>
        </div>
        
    </div>

</div>


